element {
}

:root {
	/* Primary Background */
	--color-1: #a5966f;
	--color-2: #c41618;
	--color-3: #2267ae;
	--color-4: #ce6b1f;
	--color-5: #bec8c8;
	--color-6: #ffffff;
	/* Font Colors */
	--font-1: #157ffb;
	--font-2: #191919;
	--font-3: #f0f0f0;
	--font-4: #3f3f3f;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	/* box-sizing: border-box;
	overflow-x: hidden; */
	width: 100%;
}

body {
	/* font-family: 'Coda', cursive;
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Titillium Web', sans-serif; */
	font-size: 1em;
	font-weight: 100;
	color: var(--font-1);
	background-color: var(--color-6);
}

/* Background Color */

.bg-1 {
	background-color: var(--color-1) !important;
}

.bg-2 {
	background-color: var(--color-2) !important;
}

.bg-3 {
	background-color: var(--color-3) !important;
}

.bg-4 {
	background-color: var(--color-4) !important;
}

.bg-5 {
	background-color: var(--color-5) !important;
}

.bg-6 {
	background-color: var(--color-6) !important;
}

/* Fill polygon */

.fill-bg-1 {
	fill: var(--color-1) !important;
}

.fill-bg-2 {
	fill: var(--color-2) !important;
}

.fill-bg-3 {
	fill: var(--color-3) !important;
}

.fill-bg-4 {
	fill: var(--color-4) !important;
}

.fill-bg-5 {
	fill: var(--color-5) !important;
}

.fill-bg-6 {
	fill: var(--color-6) !important;
}

/* Font Colors and Gradients */

.font-1 {
	color: var(--font-1);
}

.font-2 {
	color: var(--font-2);
}

.font-3 {
	color: var(--font-3);
}

.font-4 {
	color: var(--font-4);
}

.style-1 {
	font-family: 'Open Sans', sans-serif;
}

.style-2 {
	font-family: 'Roboto Slab', serif;
}

.style-3 {
	font-family: 'Coda', sans-serif;
	font-weight: 800;
}

/* navbar regular css start */
.navbar-area {
	background: rgba(0, 0, 0, .6);
	border-bottom: 1px solid #000;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
.site-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#logo-img {
	width: 9rem;
}
a.site-logo {
	font-size: 26px;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
.site-navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}
.site-navbar ul li a {
	color: #fff;
	padding: 40px;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
}
.site-navbar ul li a:hover {
	background: rgba(255, 255, 255, .1);
}
/* navbar regular css end */

/* nav-toggler css start */
.nav-toggler {
	border: 3px solid #fff;
	padding: 5px;
	background-color: transparent;
	cursor: pointer;
	height: 39px;
	display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
	width: 28px;
	height: 3px;
	background-color: #fff;
	display: block;
	transition: .3s;
}
.nav-toggler span:before {
	content: '';
	transform: translateY(-9px);
}
.nav-toggler span:after {
	content: '';
	transform: translateY(6px);
}
.nav-toggler.toggler-open span {
	background-color: transparent;
}
.nav-toggler.toggler-open span:before {
	transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
	transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

/* intro-area css start */
.intro-area {
	height: calc(100vh - 61px);
	display: flex;
	align-items: center;
	text-align: center;
	color: #fff;
}
.intro-area h2 {
	font-size: 50px;
	font-weight: 300;
	line-height: 50px;
	margin-bottom: 25px;
}
.intro-area p {
	font-size: 18px;
}
/* intro-area css end */

/* mobile breakpoint start */
@media screen and (max-width: 767px) {
	.container {
		max-width: 720px;
	}
	/* navbar css for mobile start */
	.nav-toggler {
		display: block;
	}
	.site-navbar {
		min-height: 80px;
	}
	.site-navbar ul {
		position: absolute;
		width: 100%;
		height: calc(100vh - 60px);
		left: 0;
		top: 60px;
		flex-direction: column;
		align-items: center;
		border-top: 1px solid #444;
		background-color: rgba(0, 0, 0, .75);
		max-height: 0;
		overflow: hidden;
		transition: .3s;
	}
	.site-navbar ul li {
		width: 100%;
		text-align: center;
	}
	.site-navbar ul li a {
		padding: 25px;
	}
	.site-navbar ul li a:hover {
		background-color: rgba(255, 255, 255, .1);
	}
	.site-navbar ul.open {
		max-height: 100vh;
		overflow: visible;
	}
	.intro-area h2 {
		font-size: 36px;
		margin-bottom: 15px;
	}
	/* navbar css for mobile end */
}
/* mobile breakpoint end */

.center {
	margin: auto;
	width: 50%;
}

/* Mascot div */
#blob-svg {
	z-index: 0;
	width: 50%;
}

#mascot-logo {
	width: 60%;
	align-items: right;
}

.title-dh {
	margin-top: 120px;
}

#business-name {
	font-size: 10vw;
	text-align: center;
}

.top-div {
	/* background-color: blue; */
	/* height: 90vh; */
	background-image: linear-gradient(180deg, rgba(196,22,24,0.49763655462184875) 0%, rgba(190,200,200,0.5) 100%), url("/css/images/pictures/pexels-garvin-st-villier-3874337.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

#lower-background {
	background-color: var(--color-6);
	height: 20vh;
}
